{
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-import-sort",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindPreserveWhitespace": true,
  "organizeAttributes": {
    "order": [
      "key",
      "id",
      "ref",
      "className",
      "name",
      "src",
      "alt",
      "type",
      "value",
      "defaultValue",
      "placeholder",
      "data-*",
      "aria-*",
      "on*"
    ],
    "groups": [
      ["key", "id", "ref"],
      ["className", "name"],
      ["data-*", "aria-*"],
      ["on*"]
    ],
    "multiline": "always"
}
}